* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

.arrow {
    position: fixed;
    bottom: 50px;
    right: 50px;
    height: 50px;
    width: 50px;
    border: 1px solid black;
    z-index: 10;
    border-radius: 50%;
    background-color: black;
    cursor: pointer;
    display: none;
}

.arrow.active {
    display: block;
}

.arrow i {
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

header {
    position: relative;
    background-image: url(img/tlo.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
}

header .logo {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 55%;
    border: 2px solid white;
    text-align: center;
}

.logo p {
    font-size: 1.7rem;
    color: white;
    padding: 20px 0 20px 0;
}

.logo h1 {
    font-size: 5rem;
    color: white;
    font-weight: normal;
}

.menu_burger {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 4rem;
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}


aside {
    position: absolute;
    top: 0;
    left: -300px;
    width: 300px;
    background-color: #D7D7D7;
    height: 100%;
    transition: .5s;
}

aside.active {
    left: 0;
}

aside ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
}

aside ul li {
    list-style: none;
    padding: 25px 0;
    width: 100%;
    text-align: center;
    transition: .3s;
}

aside ul li:hover {
    background-color: #A1A1A1;
}

aside ul li a {
    font-size: 2rem;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
}

.wrap_close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 2rem;
    cursor: pointer;
}

/* SECTION FIRST */

section.first {
    position: relative;
    background-image: url(img/section_1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0;
    height: 70vh;
}

.wrap_first {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 70vh;
}

.wrap_first article {
    flex-basis: 60%;
    margin: 20px;
}

.wrap_first article h2 {
    font-size: 4rem;
    color: white;
    font-weight: normal;
    text-align: center;
    padding-bottom: 20px;
}

.wrap_first article p {
    font-size: 1.7rem;
    color: white;
    padding: 20px 0;
    line-height: 26px;
    text-align: center;
}

.conatiner {
    position: relative;
    background-color: #F1F1F1;
    height: 160vh;
}

/* SECTION SECOND */

section.second {
    background-color: white;
    padding: 20px;
    margin: 0 auto;
    position: relative;
    top: -200px;
    max-width: 1180px;
    overflow-x: hidden;
}

section.second h1 {
    font-size: 4.5rem;
    font-weight: normal;
    padding: 30px;
    text-align: center;
}

section.second p.main {
    font-size: 1.7rem;
    padding: 30px 150px;
    text-align: center;
    line-height: 23px;
    margin-bottom: 30px;
}


section.second article {
    display: flex;
}

section.second article .wrap_img.top {
    position: relative;
    left: -600px;
    flex-basis: 50%;
    border-radius: 50px;
    transition: .5s;
}

section.second article .wrap_img.active {
    left: 0;
}

section.second article .wrap_img img {
    border-radius: 50px;
}

section.second article .wrap_p {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
}

section.second article p {
    font-size: 1.6rem;
    padding: 20px 10px 20px 50px;
    color: rgba(0, 0, 0, 0.8);
    line-height: 28px;
}


section.second article.second {
    display: flex;
    flex-direction: column;
}

section.second article.second h2 {
    font-size: 2.8rem;
    padding: 50px 20px 30px 20px;
    font-weight: normal;
    text-align: center;
}

section.second article.second ul {
    padding: 20px 40px;
}

section.second article.second ul li {
    font-size: 1.7rem;
    padding: 10px;
    color: rgba(0, 0, 0, 0.8);
}

img {
    width: 100%;
    height: 100%;
}

section.second article.second .wrap_img {
    width: 700px;
    align-self: center;
    padding: 20px;
}


section.second article.second .wrap_img.bottom {
    position: relative;
    left: -1000px;
    transition: .5s;
}

section.second article.second .wrap_img.bottom.active {
    left: 0;
}

/* SECTION THIRD */

section.third {
    background-color: #F1F1F1;
}

.wrap_third {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    overflow-x: hidden;
}

.wrap_third .wrap_img {
    flex-basis: 40%;
    margin: 0 0 80px 0;
    position: relative;
    left: -600px;
    transition: .5s;
}

.wrap_third .wrap_img.active {
    left: 0;
}

.wrap_third .wrap_content {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    padding: 20px 20px 20px 50px;
}

.wrap_content h1 {
    font-size: 4rem;
    font-weight: normal;
    padding: 0 0 30px 0;
}

.wrap_content p {
    font-size: 1.5rem;
    line-height: 31px;
    color: rgba(0, 0, 0, 0.7);
}

/* SECTION FOURTH */

section.fourth {
    background-image: url(img/hacking-gb0efc0f8d_1920.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
}

.wrap_fourth {
    max-width: 1200px;
    margin: 0 auto;
}

.wrap_fourth h1 {
    font-size: 4.5rem;
    padding: 50px 0 20px 0;
    text-align: center;
    font-weight: normal;
    color: white;
}

.wrap_fourth p {
    font-size: 1.8rem;
    color: white;
    padding: 50px 20%;
    line-height: 27px;
}


/* SECTION FOURTH_2 */


section.fourth_2 {
    position: relative;
    background-color: #F1F1F1;

}

.wrap_fourth_2 {
    background-color: white;
    padding: 50px;
    margin: 0 auto;
    position: relative;
    top: -100px;
    max-width: 1180px;
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.wrap_fourth_2 h1 {
    font-size: 4.5rem;
    text-align: center;
    padding: 40px;
    font-weight: normal;
    flex-basis: 100%;
}

.wrap_fourth_2 article {
    flex-basis: 33%;
}

.wrap_fourth_2 article h4 {
    font-size: 2.5rem;
    font-weight: normal;
    padding: 15px;
    text-align: center;
}

.wrap_fourth_2 article p {
    font-size: 1.6rem;
    padding: 15px 20%;
    color: rgba(0, 0, 0, 0.7);
    line-height: 23px;
}


.wrap_fourth_2 .images {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.wrap_fourth_2 .wrap_img {
    position: relative;
    left: -1000px;
    width: 350px;
    transition: .8s;
}

.wrap_fourth_2 .wrap_img.active {
    left: 0;
}


/* SECTION FITH */

section.fith {
    background-color: #F1F1F1;
    height: 40vh;
}

.wrap_fith {
    max-width: 1200px;
    margin: 0 auto;
}

.wrap_fith h1 {
    font-size: 5rem;
    padding: 30px 0 30px 0;
    text-align: center;
    font-weight: normal;
}

.wrap_fith p {
    font-size: 1.8rem;
    text-align: center;
    padding: 10px 200px 20px 200px;
    line-height: 30px;
}

.conatiner_second {
    position: relative;
}

.wrap_images {
    position: relative;
    top: -100px;
    display: flex;
    max-width: 1180px;
    margin: 30px auto;
    justify-content: center;
}

.wrap_images .wrap_img {
    flex-basis: 33%;
    height: 350px;

}

.container_second {
    background-image: url(img/cybercrime.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
}


.wrap_conatiner-second {
    display: flex;
    height: 70vh;
    max-width: 1200px;
    margin: 0 auto;
}

.content_1 {
    flex-basis: 50%;
    padding: 80px;
}

.content_1 h3 {
    font-size: 3.5rem;
    color: rgba(255, 255, 255, 0.9);
    padding: 20px;
}

.content_1 ul {
    padding: 20px;
}

.content_1 ul li {
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.7);
    padding: 10px;
}


.content_2 {
    flex-basis: 50%;
    padding: 80px;
}

.content_2 h3 {
    font-size: 3.5rem;
    color: rgba(255, 255, 255, 0.9);
    padding: 20px;
}

.content_2 p {
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.7);
    padding: 20px 20% 20px 20px;
}


/* SECTION SIXTH */

section.sixth {
    background-color: #DEDEDE;
    padding: 100px 0;
}

.wrap_sixth {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    overflow-x: hidden;
}

.wrap_sixth article {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}

.wrap_sixth article.first {
    display: flex;
    justify-content: center;
}

.wrap_sixth article h3 {
    font-size: 3rem;
    padding: 0 20% 20px 20px;
    text-align: center;
}

.wrap_sixth article li {
    font-size: 1.8rem;
    padding: 15px;
}

.wrap_sixth .wrap_img {
    width: 550px;
    border-radius: 20px;
    position: relative;
    left: -800px;
    transition: .5s;
}

.wrap_sixth .wrap_img.active {
    left: 0;
}

.wrap_sixth .wrap_img img {
    border-radius: 20px;
}

footer {
    background-color: #2E2E2E;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer p {
    font-size: 1.8rem;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    word-spacing: 2px;

}


/* SECTION SEVENTH */

section.seventh {
    background-color: #5A5A5A;
    height: 20vh;
}

.wrap_seventh {
    max-width: 1200px;
    margin: 0 auto;
}

.wrap_seventh h3 {
    font-size: 4.5rem;
    text-align: center;
    color: white;
    font-weight: normal;
    padding: 20px;
}

.wrap_seventh a {
    display: block;
    font-size: 1.5rem;
    color: white;
}